.taws-contact-icon{
    border-radius: 50%;
    background-color: white;
    width:10vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.taws-contact-icon img{
    height: 70%;
}
.taws-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.taws-contact-general{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.taws-contact-label{
    font-size: 1.5rem;
    margin: 5% 0 0 0%;
}
@media (max-width: 1000px) {
    .taws-contact-general{
        flex-direction: column;
    }
    .taws-contact-icon{
        width: 20vw;
        height: 20vw;
    }
    .taws-contact-label{
        font-size: 1.2rem;
        margin: 2% 0 0 0%;
    }
  }
  